* {
  font-family: JetBrainsMono, monospace;
  color: #e5e9f0;
}

#window {
  background-color: rgba(41, 46, 66, 0.9);
  margin: 20px;
  padding: 10px;
  border-radius: 20px;
  border: 5px solid #b072d1;
}

#input {
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 15px;
  background-color: rgba(59, 66, 82, 0.9);
  color: #eceff4;
  border: none;
}

#outer-box {
  padding: 20px;
}

#img {
  margin-right: 6px;
}

#entry {
  padding: 10px;
  border-radius: 15px;
}

#entry:selected {
  background-color: #2e3440;
  color: #ffffff;
}

#text {
  margin: 2px;
}

